.catechism-training {
    &__header {
        background: #9C27B0;
        color: #FFF;
        padding: 60px 0;
        text-align: center;
    }

    &__header-title {
        font-size: 30px;
    }
}