.church-directory {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &--list {
        height: initial;
    }

    &__filters {
        background: rgba(255, 255, 255, .8);
        height: 165px;
        padding: 5px;
        position: fixed;
        right: 0;
        top: 64px;
        transition: all .3s;
        width: 205px;
        z-index: 50;

        &--hide {
            height: 30px;
            width: 132px;

            .church-directory__filters-title svg {
                transform: rotate(270deg);
            }
        }
    }

    &__filters-title {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        svg {
            transform: rotate(90deg);
            transition: all .3s;
        }
    }

    &__map {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__legend {
        margin: 10px 0;
    }

    &__legend-option {
        align-items: center;
        display: flex;
        margin-bottom: 3px;

        img {
            height: 20px;
            margin-right: 6px;
        }
    }

    &__church-link {
        color: #0000ee;

        &:hover {
            text-decoration: underline;
        }
    }

    &__pastors-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;
        text-align: center;
        width: 100%;
    }

    &__pastor {
        margin-right: 10px;
    }

    &__pastor-image {
        height: 60px;
    }

    &__church-picture {
        width: 80px;
    }

    &__search-section {
        color: #FFF;
        text-align: center;
    }

    &__search-section-input {
        width: 500px !important;

        input {
            color: #FFF !important;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        padding: 0 15px;

        h2 {
            margin: 0;
        }
    }

    &__list-card {
        margin-bottom: 15px;
        width: 400px;
    }

    &__list-card-title {
        background: #90CAF9;
    }
}

.map {
    flex-grow: 1;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

.info-window {
    max-width: 350px;

    h2 {
        margin: 0 0 10px;
    }

    div {
        margin-bottom: 5px;
    }

    a {
        color: rgb(0, 0, 238);
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.gm-style-iw > div > div {
    overflow: initial !important;
}
