.confessions-creeds {
    .header {
        background: #0097A7;
    }

    &__content {
        padding: 30px 15px 15px;

        > span {
            width: 100%;
        }
    }

    &__home-card {
        cursor: pointer;
        height: 192px;
        overflow: hidden;
        transition: all .4s ease-in;
        width: 300px;
    }

    &__home-card-title {
        background: #FFD600;
    }

    &__chapter-select {
        margin-top: 15px;
    }

    &__chapter-select-chapters {
        margin-bottom: 20px;
    }

    &__chapter-select-chapter {
        color: #00695C;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        height: 25px;

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            margin-right: 0;
        }

        &--active {
            color: #333;
            pointer-events: none;
            text-decoration: underline;
        }
    }

    &__chapter-select-divider {
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }

    &__content-card-title {
        background: #006064;

        > span {
            color: #FFF !important;
        }
    }

    &__content-card-dropdown {
        > div > div {
            font-size: 20px;
            font-weight: bold;
        }
    }

    &__content-card-dropdown-label {
        color: #FFEB3B;
        margin: 10px 0;
    }

    &__content-card-chapter {
        margin-top: 20px;
        opacity: 0;
        transition: all .4s;

        &--show {
            opacity: 1;
        }
    }

    &__content-card-section {
        margin-bottom: 15px;
    }

    &__superscript {
        color: #689F38;
        cursor: pointer;
        font-weight: 900;

        &:hover {
            text-decoration: underline;
        }
    }

    &__popover {
        margin-top: 5px;
        padding: 10px;

        h2, h3 {
            font-size: 14px;
        }
    }

    &__content-card-scriptures {
        margin-top: 8px;
    }

    &__content-card-scripture {
        color: #558B2F;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.confessionsCreedsCard-enter {
    opacity: 0;
}

.confessionsCreedsCard-enter.confessionsCreedsCard-enter-active {
    opacity: 1;
}

.confessionsCreedsCard-leave {
    opacity: 1;
}

.confessionsCreedsCard-leave.confessionsCreedsCard-leave-active {
    opacity: 0;
}
