.games {
    .header {
        background: #EF6C00;
    }

    &__content {
        padding: 30px 15px 15px;

        > span {
            width: 100%;
        }
    }

    &__content-card-title {
        background: #E65100;

        > span {
            color: #FFF !important;
        }
    }
}