*, *:before, *:after {
  box-sizing: border-box !important;
}

body {
    background: #E3F2FD;
    color: #333;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

progress {
    background: #FFF;
    color: #4CAF50;
    height: 5px;

    &::-webkit-progress-bar {
        background: #FFF;
    }

    &::-webkit-progress-value {
        background: #4CAF50;
    }

    &::-moz-progress-bar {
        background: #4CAF50;
    }
}

.radio-inline {
    display: inline-block !important;
    margin-right: 15px;
    width: initial !important;

    &:last-child {
        margin-right: 0;
    }

    > div > div {
        margin-right: 6px !important;
    }
}

.app {
    &__back-button {
        left: 5px;
        position: fixed;
        top: 5px;
        z-index: 998;

        svg {
            transform: rotate(180deg);
        }
    }

    &__content-card {
        opacity: 0;
        padding: 20px;
        transition: all .4s;

        &--show {
            opacity: 1;
        }
    }
}

.overlay {
    background: #000;
    bottom: 0;
    left: 0;
    opacity: .6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.slide-out {
    position: absolute;
    top: -400px;
    transition: all .3s;
    width: 100%;
    z-index: 1000;

    &__toggle {
        background: #039BE5;
        border: 1px solid #FFF;
        border-top: 0;
        border-radius: 0 0 3px 3px;
        color: #FFF;
        cursor: pointer;
        display: inline-block;
        float: right;
        margin-right: 3px;
        padding: 0 6px;
        position: relative;
        top: -1px;
    }

    &--show {
        top: 0;
    }
}

.slide-out-content {
    align-items: center;
    background: #039BE5;
    border-bottom: 1px solid #FFF;
    display: flex;
    height: 400px;
    justify-content: center;
    padding: 20px;

    span + div {
        display: inline-block;
        margin-left: 6px;
    }

    a {
        color: #689F38;
        cursor: pointer;
        font-weight: 900;

        &:hover {
            text-decoration: underline;
        }
    }

    &__card {
        height: 100%;
        width: 100%;

        > div {
            height: 100%;
            padding-bottom: 0 !important;
        }
    }

    &__card-description {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
    }

    &__login-section {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    &__login-radio-container {
        display: inline-block;
        margin-right: 20px;
    }

    &__login-input {
        font-size: 13px !important;
        margin-right: 15px;
        width: 150px !important;
    }

    &__login-error-message {
        color: #F44336;
        text-align: center;
    }

    &__logged-in-section {

    }

    &__logout {
        margin-top: 20px;
    }
}

.admin {
    padding: 20px;

    &__leaderboards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.header {
    align-items: center;
    color: #FFF;
    display: flex;
    height: 174px;
    justify-content: center;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    transition: all .4s ease-in;

    &__dropdown-card {
        display: inline-block;
        margin-top: 15px;
    }
}

.header-title {
    font-size: 30px;
}

.scripture-card {
    margin-top: 8px;
    position: relative;
    transition: all .4s !important;

    > div {
        padding-bottom: 0 !important;
    }

    &__title {
        background: #A1887F;
        padding: 4px 8px !important;

        > span {
            color: #FFF !important;
            font-size: 14px !important;
            line-height: 14px !important;
        }
    }

    &__text {
        position: relative;

        svg {
            cursor: pointer;
            fill: #F44336 !important;
            height: 16px;
            position: absolute;
            right: 5px;
            top: 5px;
            width: 16px;
        }
    }

    h2, h3 {
        font-size: 14px;
    }
}

.start {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    td, th {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.completed {
    align-items: center;
    color: #4CAF50;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;

    &__play-again {
        margin-top: 10px;
    }
    
    > div {
        text-align: center;
    }

    svg {
        fill: #4CAF50 !important;
        height: 40px !important;
        width: 40px !important;
    }
}

.leaderboard {
    color: #333;
    margin-top: 20px;
    text-align: center;

    thead th:first-child {
        display: none;
    }
}

.appHeader-appear {
    left: -100%;
}

.appHeader-appear.appHeader-appear-active {
    left: 0;
}

.appHeader-leave {
    left: 0;
}

.appHeader-leave.appHeader-leave-active {
    left: -100%;
}

.confessionsCreedsScripture-appear {
    left: -100%;
}

.confessionsCreedsScripture-appear.confessionsCreedsScripture-appear-active {
    left: 0;
}

.confessionsCreedsScripture-enter {
    left: -100%;
}

.confessionsCreedsScripture-enter.confessionsCreedsScripture-enter-active {
    left: 0;
}

.confessionsCreedsScripture-leave {
    left: 0;
}

.confessionsCreedsScripture-leave.confessionsCreedsScripture-leave-active {
    left: -100%;
}
