*, *:before, *:after {
  box-sizing: border-box !important;
}

body {
    background: #E3F2FD;
    color: #333;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

.radio-inline {
    display: inline-block !important;
    margin-right: 15px;
    width: initial !important;

    &:last-child {
        margin-right: 0;
    }

    > div > div {
        margin-right: 6px !important;
    }
}

.app {
    &__back-button {
        bottom: 5px;
        position: fixed;
        left: 5px;
    }
}

.header {
    color: #FFF;
    padding: 60px 0;
    text-align: center;
}

.header-title {
    font-size: 30px;
}
