.home {
    color: #FFF;
    margin: 30px auto 20px;
    max-width: 620px;
    padding: 0 10px;

    &__word-section:first-child {
        margin-bottom: 20px;
    }

    &__word {
        color: #F44336;
        font-size: 28px;
    }

    &__pronunciation {
        color: #B7B7B7;
        font-size: 20px;
    }

    &__part-of-speech {
        font-size: 18px;
        font-style: italic;
        margin-top: 10px;
    }

    &__sitemap {
        color: #333;
    }
}
