.home {
    &__header {
        background: #0097A7;
        color: #FFF;
        font-weight: 100;
        padding: 60px 0;
        text-align: center;

        svg {
            fill: #FFF !important;
            height: 60px !important;
            width: 60px !important;
        }
    }

    &__header-the {
        font-size: 12px;
    }

    &__header-title {
        color: #EF9A9A;
        font-size: 32px;
        font-weight: 300;
    }

    &__header-tagline {
        font-size: 18px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 40px 0;
    }

    &__card {
        height: 230px;
        margin-bottom: 15px;
        width: 300px;
    }

    &__card-title {
        height: 82px;
    }

    &__card-description {
        height: 32px;
    }
}
