.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__card.mdl-card {
      height: 320px;
      margin-top: 20px;
      width: 320px;
    }
    &__card > .mdl-card__title {
        background: #f1c40f;
    }
}
