.menu {
    &__options {
        height: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 70px;
        transition: all .3s;
        width: 100%;
    }

    &__option {
        align-items: center;
        background: #333;
        border-bottom: 1px solid #333;
        color: #FFF;
        cursor: pointer;
        display: flex;
        height: 70px;
        padding: 5px 10px;
        width: 100%;

        &:hover {
            background: #C9C9C9;
            color: #333;
        }

        &--selected {
            background: #FFF;
            border-bottom: 1px solid #333;
            color: #333;

            &:hover {
                background: #FFF;
                color: #333;
            }

            .fa-chevron-down {
                margin-left: 20px;
            }
        }
    }

    &__cross {
        height: 54px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 100;
    }

    &__text {
        margin-left: 10px;
    }

    &__caret {
        font-size: 40px;
    }

    &__icon {
        font-size: 40px;
        position: relative;
        text-align: center;
        width: 40px;

        &--horizontal {
            background: #333;
            height: 1px;
            position: absolute;
            top: 20px;
            width: 40px;
        }

        &--vertical {
            background: #333;
            height: 54px;
            left: 20px;
            position: absolute;
            width: 1px;
        }
    }

    .fa-heartbeat {
        color: #B71C1C;
    }

    .fa-book {
        color: #FFD600;
    }

    .fa-dot-circle-o {
        color: #0277BD;
    }
}

@media (max-width: 500px) {
    .menu__subtitle {
        display: none;
    }

    h1 {
        font-size: 25px;
    }
}