.video-audio {
    .header {
        background: #EF5350;
        padding-bottom: 20px;
        position: relative;
        transition: all .4s ease-in;
    }

    &__content-card-title {
        background: #B71C1C;

        > span {
            color: #FFF !important;
        }
    }

    &__course-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__questions {
        padding: 20px;

        h2 {
            margin-bottom: 10px;
        }
    }

    &__true-false {
        color: #558B2F;
        cursor: pointer;

        &:hover {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}